[Unit]
Description=XRP Driver Station Service

[Service]
User=pi
WorkingDirectory=/home/pi/GitHub/xrp-applications/driver_station
ExecStart=/home/pi/Envs/xrp-ds/bin/python /home/pi/GitHub/xrp-applications/driver_station/driver_station.py

[Install]
WantedBy=multi-user.target

