[Unit]
Description=XRP Field Management Service

[Service]
User=pi
WorkingDirectory=/home/pi/GitHub/xrp-applications/fms_webapp
ExecStart=/home/pi/Envs/xrp-fms/bin/python /home/pi/GitHub/xrp-applications/fms_webapp/scheduled_tasks.py

[Install]
WantedBy=multi-user.target

